@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
:root{
    --primary-color: #4cca3b;
    --secondary-color: #8830da;
    --text-mute: #6d635b;
    --dark-color: #343a40;
    /* --dark-color: #fff; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.nav{
    position: fixed;
    top:0;
    background: white;
    width: 100%;
    
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 24px 10px;
    transition: 0.2s;
    background: #f0f0f0;
    /* position: fixed; */
}
.navShadow{
    box-shadow: 0px 1px 2px 1px rgb(141, 138, 138);
    background: #ffffff;
    transition: 0.2s;
}
.logo{
    margin-left: 5.7em;
    /* border: 1px solid black; */
}

.logo a{
    text-decoration: none;
    color:var(--secondary-color);
    font-size: 1.3em;
    font-weight: bolder;

}
.navbar ul {
    list-style-type: none;
}
.navbar ul > li {
    display: inline;
    margin: 0 30px;
    padding: 0.5em 0;
}
.nav-items a{
    text-decoration: none;
    color: var(--dark-color);
    text-transform: uppercase;
}
.active{
    background: var(--secondary-color);
    border-radius: 4px;
    box-shadow: 1px 2px 2px #ccc;
    padding: 0.8em 1em;
    
    
}
.nav-items a:hover {
    color: var(--primary-color);
}
.active {
    color: white !important;
}
.active:hover{
    opacity: 0.7;
    transition: 0.2s;
}

/* About Section */

.about{
    /* border: 1px solid black; */
    width: 100%;
    height: max-content;
    margin-top:70px;
    display: flex;
    justify-content: center;  
    background: #f0f0f0;  
}
.about-left {
    width:50%;
    /* background: #ccc; */
    flex: 1;
    /* height: max-content; */
    /* padding: 7em 2em 3em 6em; */
    padding: 10% 8%;
}
.about-left h2{
    color: var(--secondary-color);
    font-size: 2em;
}
.about-left p {
    color: #6d635b;
    font-size: 1em;
    margin: 1.3em 0;
}
.about-right {
    width: 50%;
    /* border: 1px solid #2e261f;     */
    
    
}
.about-right .img {
    margin-top: 7%;
}
.about-right .img img{
    width: 80%;
    height: 80%;
    padding: 1em 1em 1em 5em ;
    /* margin: 0 auto; */
}

.btn{
    border: none;   
    padding: 1em 2em;
    cursor: pointer;
    border-radius: 0.4em;
    font-weight: bolder;
}

.btn-primary{
    background:var(--secondary-color);
    color: white;
}
.btn-success{
    background: var(--primary-color) ;
    color: white;
}

.btn-success:hover{
    background: #3a9c2d;
    transition: 0.3s;
}

.btn-primary:hover{
    background: #5f2299;
    transition: 0.3s ease-in;
    
}

@media only screen and (max-width: 920px) {
    .about-left h2 {
        font-size: 1.5em;
    }
}

/* Project Section */
.project{
    width: 100%;
    
    /* background: var(--secondary-color); */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding:3% 3%;
    grid-gap: 0.5em;
    
}
.project .card {
    width: 100%;
    /* text-align: center; */
    margin: 0 auto;
    background: white;
    transition: 0.2s;
    /* border-radius: 1em; */
    
    
}
.project .card img {
    width: 100%;
    height: auto;
    /* border-radius: 1em; */
    
}
.project .card:hover{
    transform: scale(1.03);
    box-shadow: 2px 2px 2px rgb(63, 60, 60);
    transition: 0.2s;
    /* border-radius: 1em; */
}
.project .card h3{
    color: var(--primary-color);
}
.card-footer{
    background: var(--dark-color);
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    margin-top:-5px;
}
