@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.nav{
    width: 100%;
    box-shadow: 0px 2px 3px 1px #ccc;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 24px 10px;
    /* position: fixed; */
}
.logo{
    padding-left: 40px; 
}

.logo a{
    text-decoration: none;
    color:#4cca3b;

}
.navbar ul {
    list-style-type: none;
}
.navbar ul > li {
    display: inline;
    margin: 0 30px;
    padding: 0.5em 0;
}
.nav-items a{
    text-decoration: none;
    color: #2e261f;
    text-transform: uppercase;
}
.active{
    background: #4cca3b;
    border-radius: 4px;
    box-shadow: 1px 2px 2px #ccc;
    padding: 0.8em 1em;
    
    
}
.nav-items a:hover {
    color: #4cca3b;
}
.active {
    color: white !important;
}
.active:hover{
    opacity: 0.7;
    transition: 0.2s;
}

/* About Section */

.about{
    /* border: 1px solid black; */
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;    
}
.about-left {
    width:50%;
    /* background: #ccc; */
    flex: 1;
    /* height: max-content; */
    padding: 7em 2em 3em 6em;
}
.about-left h2{
    color: #4cca3b;
    font-size: 2em;
}
.about-left p {
    color: #6d635b;
    font-size: 1em;
    margin: 1.3em 0;
}
.about-right {
    width: 50%;
    /* border: 1px solid #2e261f;     */
    height: max-content;
    
}
.about-right .img img{
    width: 80%;
    height: 80%;
    padding: 1em 1em 1em 5em ;
    /* margin: 0 auto; */
}

.btn{
    border: none;   
    padding: 1em 2em;
    cursor: pointer;
}

.btn-primary{
    background: #8830da;
    color: white;
    /* font-size:  */
    font-weight: bolder;
    /* text-transform: uppercase; */
    border-radius: 0.4em;
}

.btn-primary:hover{
    background: #5f2299;
    transition: 0.3s ease-in;
    
}
